<%= turbo_stream_from @season, channel: JoinSeasonChannel %>
<% content_for(:title, "Join Season") %>

<h2>Select Your Team</h2>

<% @season.teams.each do |team| %>
  <%= render partial: "join_season_forms/team", locals: { team: } %>
<% end %>
