<%= turbo_stream_from @season, channel: SeasonChannel %>

<h2><%= season.name %></h2>

<div>Your Team: <%= season.team_for_user(Current.user).code %></div>

<%= render partial: "seasons/info", locals: { season: @season } %>