<% if model.errors.any? %>
  <div style="color: red;">
    <div><strong><%= pluralize(model.errors.count, "error") %>:</strong></div>
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>