<%= turbo_stream_from @season, "lobby", channel: SeasonChannel %>
<% content_for(:title, "Lobby") %>

<%= render partial: "seasons/header", locals: { season: @season } %>

<h3>Lobby</h3>

<p>
  Join code & link: <%= link_to @season.join_code, new_join_season_form_path(join_code: @season.join_code) %>
</p>

<%= render partial: "seasons/lobby/teams", locals: { season: @season } %>
